
/* Your CSS Code here. */
.item{
	display:flex;
	justify-content:space-between;
}
.holder{
	flex-wrap:wrap;
}
.item-1{
	width:150px;
	height:150px;
	background-color:green;
}
.item-2{
	width:150px;
	height:150px;
	background-color:red;
}
.item-3{
	width:150px;
	height:150px;
	background-color:blue;
}